body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 20px;
}
.container {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: #2c2c2c solid 2px;
    padding: 10px;
    box-shadow: #2c2c2c 0px 0px 30px;
    transition: ease-in 0.3s;
    max-width: 700px;
}
.container:hover {
    transform: scale(1.05);

}
h1 {
    background: linear-gradient(131deg, rgb(156, 131, 255) 42%, rgb(255, 144, 81) 75%);
    background-clip: text;
    color: transparent;
    font-size: 7vw;
    margin-bottom: 20px;
    position: relative;
}

h3, a, h2 {
    font-size: 3vw;
    margin-top: 10px;
    background: linear-gradient(131deg, rgb(255, 144, 81) 12%, rgb(156, 131, 255) 75%);
    background-clip: text;
    color: transparent;
}

button {
    margin-top: 50px;
    --glow-color: rgb(150, 100, 255);
    --glow-spread-color: rgba(100, 50, 150, 0.781);
    --enhanced-glow-color: rgb(180, 156, 255);
    --btn-color: rgb(50, 21, 56);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
}
   
button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}
   
button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
}
   
button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
}

/* Media query for mobile devices */
@media (max-width: 600px) {
    h3 {
        font-size: 5vw; /* Increased font size for mobile */
    }
}